:root {
  --md-sys-color-primary: rgb(240 255 235);
  --md-sys-color-surface-tint: rgb(158 212 156);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(163 216 160);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(240 255 235);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(189 208 185);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(240 253 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(165 211 218);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 16);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(16 20 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(246 253 241);
  --md-sys-color-outline: rgb(198 205 193);
  --md-sys-color-outline-variant: rgb(198 205 193);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 219);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 50 12);
  --md-sys-color-primary-fixed: rgb(190 245 187);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(163 216 160);
  --md-sys-color-on-primary-fixed-variant: rgb(0 27 4);
  --md-sys-color-secondary-fixed: rgb(217 236 212);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(189 208 185);
  --md-sys-color-on-secondary-fixed-variant: rgb(10 26 11);
  --md-sys-color-tertiary-fixed: rgb(193 239 246);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(165 211 218);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 26 29);
  --md-sys-color-surface-dim: rgb(16 20 16);
  --md-sys-color-surface-bright: rgb(54 58 52);
  --md-sys-color-surface-container-lowest: rgb(11 15 10);
  --md-sys-color-surface-container-low: rgb(24 29 23);
  --md-sys-color-surface-container: rgb(28 33 27);
  --md-sys-color-surface-container-high: rgb(39 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 48);
}
