:root {
  --md-sys-color-primary: rgb(163 216 160);
  --md-sys-color-surface-tint: rgb(158 212 156);
  --md-sys-color-on-primary: rgb(0 27 4);
  --md-sys-color-primary-container: rgb(106 157 106);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(189 208 185);
  --md-sys-color-on-secondary: rgb(10 26 11);
  --md-sys-color-secondary-container: rgb(131 150 128);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(165 211 218);
  --md-sys-color-on-tertiary: rgb(0 26 29);
  --md-sys-color-tertiary-container: rgb(108 152 159);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 20 16);
  --md-sys-color-on-background: rgb(224 228 219);
  --md-sys-color-surface: rgb(16 20 16);
  --md-sys-color-on-surface: rgb(248 252 243);
  --md-sys-color-surface-variant: rgb(66 73 64);
  --md-sys-color-on-surface-variant: rgb(198 205 193);
  --md-sys-color-outline: rgb(158 165 154);
  --md-sys-color-outline-variant: rgb(126 133 123);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 219);
  --md-sys-color-inverse-on-surface: rgb(39 43 38);
  --md-sys-color-inverse-primary: rgb(34 82 39);
  --md-sys-color-primary-fixed: rgb(186 240 183);
  --md-sys-color-on-primary-fixed: rgb(0 22 3);
  --md-sys-color-primary-fixed-dim: rgb(158 212 156);
  --md-sys-color-on-primary-fixed-variant: rgb(13 63 23);
  --md-sys-color-secondary-fixed: rgb(213 232 208);
  --md-sys-color-on-secondary-fixed: rgb(6 20 7);
  --md-sys-color-secondary-fixed-dim: rgb(185 204 180);
  --md-sys-color-on-secondary-fixed-variant: rgb(42 58 41);
  --md-sys-color-tertiary-fixed: rgb(188 235 242);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 23);
  --md-sys-color-tertiary-fixed-dim: rgb(161 206 213);
  --md-sys-color-on-tertiary-fixed-variant: rgb(8 60 66);
  --md-sys-color-surface-dim: rgb(16 20 16);
  --md-sys-color-surface-bright: rgb(54 58 52);
  --md-sys-color-surface-container-lowest: rgb(11 15 10);
  --md-sys-color-surface-container-low: rgb(24 29 23);
  --md-sys-color-surface-container: rgb(28 33 27);
  --md-sys-color-surface-container-high: rgb(39 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 48);
}
