:root {
  --md-sys-color-primary: rgb(148 210 248);
  --md-sys-color-surface-tint: rgb(144 206 244);
  --md-sys-color-on-primary: rgb(0 25 37);
  --md-sys-color-primary-container: rgb(89 152 187);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(186 205 220);
  --md-sys-color-on-secondary: rgb(5 24 35);
  --md-sys-color-secondary-container: rgb(128 147 161);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(207 197 238);
  --md-sys-color-on-tertiary: rgb(24 17 48);
  --md-sys-color-tertiary-container: rgb(148 140 177);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 23);
  --md-sys-color-on-background: rgb(223 227 231);
  --md-sys-color-surface: rgb(15 20 23);
  --md-sys-color-on-surface: rgb(248 251 255);
  --md-sys-color-surface-variant: rgb(65 72 77);
  --md-sys-color-on-surface-variant: rgb(197 204 210);
  --md-sys-color-outline: rgb(157 164 170);
  --md-sys-color-outline-variant: rgb(125 132 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 227 231);
  --md-sys-color-inverse-on-surface: rgb(38 43 46);
  --md-sys-color-inverse-primary: rgb(0 78 107);
  --md-sys-color-primary-fixed: rgb(196 231 255);
  --md-sys-color-on-primary-fixed: rgb(0 19 30);
  --md-sys-color-primary-fixed-dim: rgb(144 206 244);
  --md-sys-color-on-primary-fixed-variant: rgb(0 59 82);
  --md-sys-color-secondary-fixed: rgb(209 229 244);
  --md-sys-color-on-secondary-fixed: rgb(1 19 29);
  --md-sys-color-secondary-fixed-dim: rgb(182 201 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 56 68);
  --md-sys-color-tertiary-fixed: rgb(231 222 255);
  --md-sys-color-on-tertiary-fixed: rgb(18 12 43);
  --md-sys-color-tertiary-fixed-dim: rgb(203 193 233);
  --md-sys-color-on-tertiary-fixed-variant: rgb(56 50 82);
  --md-sys-color-surface-dim: rgb(15 20 23);
  --md-sys-color-surface-bright: rgb(53 58 61);
  --md-sys-color-surface-container-lowest: rgb(10 15 18);
  --md-sys-color-surface-container-low: rgb(24 28 31);
  --md-sys-color-surface-container: rgb(28 32 35);
  --md-sys-color-surface-container-high: rgb(38 43 46);
  --md-sys-color-surface-container-highest: rgb(49 53 57);
}
